/*
h1{
	font: bold 22px Tahoma; 
}*/




#topStuff{
margin: 0px; 
// background:linear-gradient(olive,black);

}


#top_header{
	font: bold 40px Comic Sans MS;
    // padding: 20px;
   color: khaki;
  
}

#iconpic{ float: left;
margin: 2px;
}


#titleTextdiv{
float: left;
margin: 30px;
color: #FFFF33;
-webkit-text-stroke: 1px black;
text-shadow: 3px 3px 0 #000;
opacity: 0.7;
}

#top_menu{
//	border: white;
	
//	color: white;
}
#top_menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 11px Tahoma;
}


#main_section{

	-webkit-box-flex: 1;
//	margin: 20px;
	padding-right: 50px;

}

#home{
text-decoration: none;
font: bold 14px Tahoma;
color: khaki;
}


#the_footer{
	text-align: center;
	padding: 20px;
	border-top: 2px solid white;
color: white;
background: yellow;
}

#table{
// width: 100%;
 margin-left:50px;

}

.column{
float: left;
text-align: center;
color: olive;
//padding-right: 100px;
// padding-top: 25px;
font-size: 11px;
}



/*
#snakes{
clear: both;
float: left;
}
*/

.column a{
text-decoration: none;
color: olive;
font-size: 11px;
}


.column a:hover{
font-size: 12px;
 cursor: pointer;

}
