
*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
   background: black; 
// background: linear-gradient(black 10% ,olive, black 50%,olive, khaki,olive,black);

}

#big_wrapper{
	max-width: 1500px; 
	margin: 20px 0px;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;

}

/*
#topStuff{

    opacity:0.7;
	border-bottom: 2px solid  #CCE5FF;
}

*/

/*
#top_header{
	font: bold 25px Tahoma; 
    color: #CCE5FF;
 // text-shadow: 1px 1px 15px skyblue;
	}
*/

#flag{
font-size: 11px;
}

ul{
float:right;
}


#top_menu li{
    
	display: inline-block;
	list-style: none;
	font: bold 25px Tahoma;
  //  color:#CCE5FF; 
color: khaki;
}


#main_section{
    margin: 20px auto;
	-webkit-box-flex: 1;
   
}


.dropdown {
    position: relative;
   display: inline-block;
}


.dropbtn {
    background:#1c1c1c;
  //  color: #CCE5FF;
   color: khaki;
   padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;

}

.dropbtn:hover, .dropbtn:focus {
  
    font-size: 19px;
}





.dropdown-content {
 background:#1c1c1c;
    display: none;
    position: absolute;
    min-width: 75px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
    color: white;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.dropdown-content a:hover {background-color:#CCE5FF;}





.show {display:block;}



.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay p:hover, .overlay p:focus {
   color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px;}
  .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


